<form fxLayout="row" fxLayoutAlign="end center" class="form-style">
    <button style="border-radius: 10%; margin-right:5px" mat-button color="primary">Pesquisar</button>
    <input style="width: 350px; height: 25px; font-size: 1.2rem;" placeholder="Buscar filme">
</form>

<mat-tab-group mat-align-tabs="start" style="padding-top:40px; padding-left: 2%; padding-right:2%">
    <mat-tab label="Filmes">
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%;">
            <ng-container *ngFor="let filme of filmes" style="margin:0.5%;">
                <mat-card class="mat-card-filme" fxFlex="0 1 calc(33.3% - 11px)" fxFlex.lt-md="0 1 calc(50% - 11px)"
                    fxFlex.lt-sm="100%">
                    <mat-card-title class="mat-card-title-filme">
                        <div class="row">
                            <p>
                                <span style="font-size: 0.9rem;" fxFlex="70"
                                    fxLayoutAlign="start center">{{filme.titulo}}</span>
                                <span></span>
                                <mat-chip class="mat-chip-date" fxFlex="25" fxLayoutAlign="end center">
                                    <span style="font-size: 0.7rem;">{{filme.dataDeLancamento}}</span>
                                </mat-chip>
                            </p>
                            <p style="font-size: 0.7rem;">
                                Diretor: <span>{{filme.diretor}}</span>
                            </p>
                        </div>

                    </mat-card-title>
                    <mat-card-content fxLayoutAlign="center center">
                        <div>
                            <img class="img-size" [src]="filme.urlSafe">
                        </div>
                    </mat-card-content>
                </mat-card>

            </ng-container>

        </div>

    </mat-tab>